h1 {
    text-align: center;
    font-size: 3em;
}

li {
    margin: 5px 0;
}

img.logo {
    position: absolute;
    width: 100px;
    margin-left: 50px;
    margin-top: -10px;
}

div.menu {
    display: flex;
    justify-content: center;
}

button {
    font-size: 1em;
}

input {
    margin-top: 10px;
}

button.menu {
    margin: 0 10px;
}

div.inputWindow {
    margin: 15px 5%;
    border: 3px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.loader {
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 2s linear infinite;
    visibility: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.status {
    visibility: hidden;
}